<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter App</title>
</head>

<body>
    <div class="container">
        <form action="/waiters/{{username}}" method="POST">
            <div class="content">
                <h1>Waiter Availability</h1>
                <label for=""><input type="text" name="name" placeholder="Please Enter Your Name"
                        value="{{username}}"></label>
                <table>
                    <tr>
                        <td><input type="checkbox" name="day" value="Monday">Monday</input></td>
                        <td><input type="checkbox" name="day" value="Tuesday">Tuesday</input></td>
                        <td><input type="checkbox" name="day" value="Wednesday">Wednesday</input></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="day" value="Thursday">Thursday</input></td>
                        <td><input type="checkbox" name="day" value="Friday">Friday</input></td>
                        <td><input type="checkbox" name="day" value="Saturday">Saturday</input></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="day" value="Sunday">Sunday</input></td>
                        <td colspan="2"><button type="submit" name="addBtn">Submit</button></td>
                        {{!-- <td><a href="/days">Admin</a></td> --}}
                    </tr>
                </table>
                <br><br><br>
                {{#if messages.message}}
                <div class="message">
                    {{messages.message}}
                </div>
                {{/if}}
            </div>
        </form>
    </div>
</body>

</html>