<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter App</title>
</head>

<body>
    <div class="container">
        <form action="GET">
            <label for="">Name</label>
            <input type="text" name="name">
            <button type="submit" name="addBtn">Add</button>

            <div class="working-days">
                <div class="first">
                    <input type="checkbox" name="monday" value="Monday">Monday</input>
                    <input type="checkbox" name="tuesday" value="tuesday">Tuesday</input>
                    <input type="checkbox" name="wednesday" value="wednesday">Wednesday</input>
                    <input type="checkbox" name="thursday" value="thursday">thursday</input>
                </div>

                <div class="second">
                    <input type="checkbox" name="friday" value="friday">Friday</input>
                    <input type="checkbox" name="saturday" value="saturday">Saturday</input>
                    <input type="checkbox" name="sunday" value="sunday">Sunday</input>
                </div>
            </div>
        </form>
    </div>
</body>

</html>