<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter App</title>
</head>

<body>
    <div class="container">
        <form action="/waiters/:username" method="POST">
            <div class="content">
                <h1>Waiter Availability</h1>
                <label for=""><input type="text" name="name" placeholder="Please Enter Your Name"></label>

                <table>
                    <tr>
                        <td><input type="checkbox" name="day" value="Monday">Monday</input></td>
                        <td><input type="checkbox" name="day" value="tuesday">Tuesday</input></td>
                        <td><input type="checkbox" name="day" value="wednesday">Wednesday</input></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="day" value="thursday">Thursday</input></td>
                        <td><input type="checkbox" name="day" value="friday">Friday</input></td>
                        <td><input type="checkbox" name="day" value="saturday">Saturday</input></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="day" value="sunday">Sunday</input></td>
                        <td colspan="2"><button type="submit" name="addBtn">Submit</button></td>
                        {{!-- <td><a href="">Reset</a></td> --}}
                    </tr>
                </table>
            </div>
        </form>
        <div class="message">
            {{successMessage}}
        </div>
    </div>
</body>

</html>