<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter App</title>
</head>

<body>
    <div class="container">
        <form action="GET">
            <label for="">Name</label>
            <input type="text" name="name">

            <table>
                <tr>
                    <td><input type="checkbox" name="monday" value="Monday">Monday</input></td>
                    <td><input type="checkbox" name="tuesday" value="tuesday">Tuesday</input></td>
                    <td><input type="checkbox" name="wednesday" value="wednesday">Wednesday</input></td>
                    <td><input type="checkbox" name="thursday" value="thursday">thursday</input></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="friday" value="friday">Friday</input></td>
                    <td><input type="checkbox" name="saturday" value="saturday">Saturday</input></td>
                    <td><input type="checkbox" name="sunday" value="sunday">Sunday</input></td>
                    <td><button type="submit" name="addBtn">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>