<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifts</title>
</head>

<body>
    <div class="fit">
        <div class="daysContent">
            <h1>Booked Shifts</h1>
            <br><br><br>
            <div class="color">
                <div>
                    <div class="yellow" style="background-color: orange;"></div>Waiters Needed
                </div>
                <div>
                    <div class="green" style="background-color: green;"></div>Enough Waiters
                </div>
                <div>
                    <div class="red" style="background-color: red;"></div>More Than Enough Waiters
                </div>
            </div>

            <table>
                <tr>
                    {{#each tableData}}
                    <th class="{{colors}}">{{this.shift}}</th>
                    <td>{{this.waiter}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</body>

</html>