<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifts</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            box-sizing: border-box;
            height: 100vh;
            font-size: 18px;
        }

        .fit {
            background-color: #293745;
            width: 70%;
            margin: 0 auto;
            height: 100%;
        }

        .fit h1 {
            font-size: 56px;
            font-weight: lighter;
            text-align: center;
        }

        .daysContent {
            width: 60%;
            margin: 0em auto;
            border: 1px solid #293745;
        }

        .colors {
            float: right;
            margin-bottom: 2em;
        }

        .colors .red,
        .green,
        .yellow {
            width: 10px;
            height: 10px;
            background-color: #000;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
        }

        tr,
        th,
        td {
            border-bottom: 1px solid #fff;
            padding: 10px;
        }

        th {
            text-align: left;
            border-right: 1px solid #fff;
            width: 20%;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: #FDCE4B;
        }
    </style>
</head>

<body>
    <div class="fit">
        <div class="daysContent">
            <h1>Booked Shifts</h1>
            <br><br><br>
            <div class="colors">
                <div>
                    <div class="yellow" style="background-color: #FDCE4B;"></div>Waiters Needed
                </div>
                <div>
                    <div class="green" style="background-color: green;"></div>Enough Waiters
                </div>
                <div>
                    <div class="red" style="background-color: red;"></div>More Than Enough Waiters
                </div>
            </div>

            <table>
                <tr>
                    {{#each tableData}}
                    <th style="background-color:{{this.color}};">{{this.shift}}</th>
                    <td>{{this.waiter}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</body>

</html>