<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            box-sizing: border-box;
            height: 100vh;
            background-attachment: fixed;
        }

        table {
            width: 50%;
            border: 1px solid #000;
        }

        tr,
        th,
        td {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            {{#each data}}
            {{!-- <td>{{this.shift}}</td> --}}
            <th style="background: grey;">{{this.shift}}</th>
        </tr>

        <tr>
            <td>{{this.waiter}}</td>
        </tr>
        {{/each}}

    </table>
</body>

</html>