<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifts</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
        }

        tr,
        th,
        td {
            border: 1px solid #fff;
            padding: 10px;
        }

        th {
            text-align: left;
            border: 1px solid #fff;
            width: 20%;
        }
    </style>
</head>

<body>
    <div class="fit">
        <div class="daysContent">
            <h1>Booked Shifts</h1>
            <br><br><br>
            <div class="color">
                <div>
                    <div class="example" style="background-color: #ffa500;"></div>Waiters Needed
                </div>
                <div>
                    <div class="example" style="background-color: #008000;"></div>Enough Waiters
                </div>
                <div>
                    <div class="example" style="background-color: #ff0000;"></div>More Than Enough Waiters
                </div>
            </div>

            <table>
                <tr>
                    {{#each tableData}}
                    <th class="{{shift}}">{{this.work_day}}</th>
                    <td>{{this.waiter}}</td>
                </tr>
                {{/each}}

                <td colspan="2" style="padding: 10px;">
                    <form action="/reset" method="get">
                        <button
                            style="padding: 10px; width: 50%; font-size: 22px; margin: 0 auto; display:block; background-color: #2F9ED0; color:#fff"
                            type="submit">Reset</button>
                    </form>
                </td>
            </table>
            {{#if messages.message}}
            <div style="margin-top: 2em;" class="message">
                {{messages.message}}
            </div>
            {{/if}}

        </div>
    </div>
</body>

</html>