/* 
    NAVY BLUE -- #293745
    GREEN -- #6BD694
    LIGHT BLUE -- #2F9ED0
    YELLOW -- FDCE4B
*/
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: fixed;
}
.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
form {
    width: 80%;
    height: 100%;
    margin: 5em auto;
}
.content {
    background-color: #293745;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.content h1 {
    font-size: 56px;
    font-weight: lighter;
    text-align: center;
}
.content label {
    width: 80%;
    margin: 0 auto;
    display: block;
}
label input {
    width: 50%;
    margin: 8em auto 2em auto;
    display: block;
    padding: 6px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.container table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.container table tr td {
    border-bottom: 1px solid #fff;
    padding: 20px;
}
.container table button {
    width: 100%;
    /* width: 65%; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FDCE4B;
    color: #293745;
    cursor: pointer;
}
.container table button:hover {
    border: 1px solid #fff;
}
.container table a {
    text-decoration: none;
    padding: 11px 2.5em;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2F9ED0;
    color: #293745;
}
.container table a:hover {
    border: 1px solid #fff;
}
.container table input {
    cursor: pointer;
}